.c {
  padding: 30px;
  flex-grow: 0;
  justify-content: center;
}

.cStyle {
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  padding: 5px;
  width: 300px;
  height: 500px;
}

.cStyle:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}

.cImg {
  transition: transform 0.2s;
  width: 250px;
  height: 280px;
  align-self: center;
}

.cImg:hover {
  transform: scale(1.2);
}

.txt {
  position: relative;
  text-align: center;
  width: 290px;
  height: 150px;
  font-size: 18px;
  align-self: center;
  z-index: 1;
}

.pri {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 3%;
  left: 40%;
  align-self: center;
}
.bton {
  width: 180px;
  font-size: 20px;
  text-align: center;
}
.des {
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgb(214, 214, 214);
  color: rgb(0, 0, 0);
  border-radius: 8px;
}
.txt:hover .des {
  visibility: visible;
  z-index: 3;
}
