.c {
  padding: 30px;
  flex-grow: 0;
  justify-content: center;
}

.cStyle {
  background-color: #f0fffe;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  padding: 5px;
  width: 300px;
  height: 478px;
}

.cStyle:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.imageAndDes {
  position: relative;
  width: 280px;
  height: 300px;
  align-self: center;
}
.cImg {
  display: block;
  border-radius: 6px;
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  align-self: center;
  opacity: 1;
}
.des {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  opacity: 0;
  background-color: white;
}
.des:hover {
  opacity: 1;
}

.txt {
  margin: 0px;
  padding: 0;
  padding-top: 15px;
  text-align: center;
  width: 295px;
  height: 105px;
  align-self: center;
}
.ti {
  font-size: 19px;
  margin: 0px;
  font-weight: bold;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 23px; /* fallback */
  height: 50px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.pri {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  bottom: 3%;
  left: 40%;
  text-align: center;
  line-height: 40px;
}
.bton {
  width: 180px;
  font-size: 20px;
  text-align: center;
}

.txt:hover .des {
  visibility: visible;
  z-index: 3;
}
